<div class='main'>
  <div class='home'>
    <h1 class='home'>頭の体操をしましょう</h1>
    <p class='lead home'>日々の練習問題に、クラウド・ソースでレビューします。</p>
    <p class='lead home'>Public Beta.</p>
    <a class='btn btn-large btn-success home' href='/login'>はじめる (via GitHub)</a>
  </div>


  <div class="row">
    <div class="span4">
      <h2>練習しましょう</h2>
      <p>READMEとテストをあげますので、テストを通しましょう。テストを通すのは最初の一歩にすぎません。</p>
      <p>目標は、やりたいことがわかる、読みやすいコードです。</p>
      <p>ふだんの環境で、ふだんのツールでコードを書いてください。</p>
      <p>いまのところ、Ruby, Elixir, JavaScript, Python, Haskell, and Clojureの練習問題があって、他のプログラミング言語も続いてきます。</p>
    </div>
    <div class="span4">
      <h2>意見を受けましょう</h2>
      <p>exercism.pira.jpは、<em>よいコード</em>についての会話はこんな感じかなというつもりで作られています。ひとつの正解はありませんが、たくさんのよい質問があるでしょう。</p>
      <p>古いことわざで、みちのりが問題で到着点ではないというのがありましたね? そう、それです。そこに向かっているのです。</p>

      <p>やりとりを続けても仕方がない感じがしたら、次の課題を開きましょう。</p>
    </div>
    <div class="span4">
      <h2>意見つけ</h2>
      <p>課題を終えたら、同じ課題を他の人が解いたコードに意見をつけられるようになります。</p>
      <p>つまり、コードをレビューしてくれるのは仲間であって、数少ない「専門家」ではないということです。</p>
      <p><a href="/help/how-to-nitpick">意見のつけかたについて読む »</a></p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h2>試してみよう!</h2>
      <p>ログインしなくても試せます。</p>
      <p>gemをインストールしましょう</p>
      <pre>$ gem install exercism</pre>
      <p>仮に使うディレクトリに移りましょう。</p>
      <pre>$ cd /tmp</pre>
      <p>各言語の最初の課題を拾いましょう。</p>
      <pre>$ exercism demo</pre>
      <p>gemはやめようとしているのですが、新しいバイナリはログインしないとdemoコマンドが動かないので、まだここで使えないのです。</p>
    </div>

    <div class="span4">
      <h2>どうしてGitHub?</h2>
      <p>ソーシャルアプリはtwitterで認証するわけだけれども、このサイトはコードのことだから、Githubを使います。</p>
      <p>要求する情報は最小限にしました: 公開情報の読み込み権限だけです。</p>
      <p>これおはつまり、GitHubのプロフィールに載っていなければメールアドレスはわからないということです。</p>
    </div>

    <div class="span4">
      <h2>オープンソース</h2>
      <p>exercism.pira.jp はGNU Affero General Public Licenseでライセンスします。</p>
      <p>exercism.io is licensed under the GNU Affero General Public License.</p>
    </div>
  </div>

</div>
